.banner-container{
    position: absolute;
    width: 1040px;
    height: 223px;
    left: 100px;
    top: 171px;
    
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    }
    
    