.banner-container {
	height: 111px;
	@include small-radius;
	@include flex-banner;

	@media screen and (min-width: $breakpoint-desktop) {
		height: 223px;
		@include big-radius;
		@include flex-banner;
		background-position: center;
	}
}

.banner-text {
	position: absolute;
left: 25.9%;
right: 25.14%;
top: 24.32%;
bottom: 69.04%;
color: $tertiary-color ;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 142.6%;
display: flex;
align-items: flex-end;

	@media screen and (min-width: $breakpoint-desktop) {
		top: 0;
		left: 0;
		right: 0;
		@include flex-center;
		@include WH-full;
		@include font(48px, 500);
		@include big-radius;
		
	}
}

    
    