.collapse {
	width: 100%;
	margin: 20px 0;
	

	@media screen and (min-width: $breakpoint-desktop) {
		margin: 31px auto 0;
	}
	h2 {
			@include font(13px, 500);

			@media screen and (min-width: $breakpoint-desktop) {
				@include font(24px, 500);
			}
		}
		.headerCollapse{
    background: $primary-color;
		color: $tertiary-color;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		padding: 7px 15px;
		border-radius: 5px;
		width: 100%;
		@media screen and (min-width: $breakpoint-desktop) {
			height: 47px;
		}

		
	}
}
.contenu {
		color: $primary-color;
		background: $secondary-color;
		border-radius: 5px;
		opacity: 1;
		
		

		p {
			margin: 0;
			padding: 22px 15px;
			pointer-events: none;
			@include font(12px, 400);

			@media screen and (min-width: $breakpoint-desktop) {
				@include font(24px, 400);
			}
		}
	}
	.containerCollaspe {
		@include flex-column;
		width: 100%;
	
		@media screen and (min-width: $breakpoint-desktop) {
			flex-direction: row;
			gap: 6%;
		}
	}
	
	.equipList {
		list-style-type: none;
	}
	.containerDescription{
		@media screen and (min-width: $breakpoint-desktop) {
		width: 50%;
		}
	}
	.containerEquipements{
		@media screen and (min-width: $breakpoint-desktop) {
		width: 50%;
		}
	}


