.nav-header {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	text-transform: uppercase;
	

	&_link-home,
	&_link-about {
		font-size: 25px;
		font-style: normal;
		font-weight: 100;
		text-align: right;
		color:$primary-color;
		text-decoration: none;
		padding-left: 3.5rem;

	

		&:hover,
		&:focus {
			text-decoration-line: underline;
		}
	}
}